APP_ORIGIN=https://adarshkasaundhan1.github.io
APP_BASE_URL=https://adarshkasaundhan1.github.io/PREPCODEJEE

SUPABASE_URL=https://foxxccgiktgrwfdlxkrx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZveHhjY2dpa3RncndmZGx4a3J4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTUyODAxNSwiZXhwIjoyMDk3MTA0MDE1fQ.FwmN8ZsJH994qhgNgrXtQ07QK9ML6FH8EtWnoOgzi_o

RAZORPAY_KEY_ID=rzp_live_T47DyNOsLhuLo8
RAZORPAY_KEY_SECRET=jy57pSSMRWH3JPVHETjKCArR
RAZORPAY_WEBHOOK_SECRET=prepcode_2026_startup
